<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="form" (ngSubmit)="saveDocument(form.value)">

    <ion-item>
      <ion-input type="text" formControlName="model" [(ngModel)]="model" placeholder="Asset Model"></ion-input>
    </ion-item>


    <ion-item>
      <ion-input type="text" formControlName="categoryId" [(ngModel)]="categoryId" placeholder="Asset Category ID"></ion-input>
    </ion-item>


    <ion-item>
      <ion-input type="text" formControlName="category" [(ngModel)]="category" placeholder="Asset Category"></ion-input>
    </ion-item>


    <ion-item>
      <ion-input type="text" formControlName="quantity" [(ngModel)]="quantity" placeholder="Asset Quantity"></ion-input>
    </ion-item>


    <ion-item>
      <ion-input type="text" formControlName="picture" [(ngModel)]="picture" placeholder="Asset Picture"></ion-input>
    </ion-item>


    <ion-item>
      <ion-input type="text" formControlName="thumbnail" [(ngModel)]="thumbnail" placeholder="Asset Thumbnail"></ion-input>
    </ion-item>


    <ion-item>
      <ion-input type="text" formControlName="state" [(ngModel)]="state" placeholder="Asset State"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" formControlName="description" [(ngModel)]="description" placeholder="Asset Description"></ion-input>
    </ion-item>


    <ion-item>
      <button ion-button block color="primary" text-center padding-top padding-bottom>
        <div *ngIf="!isEditable">
          Add a new document
        </div>

        <div *ngIf="isEditable">
          Update this document
        </div>
      </button>
    </ion-item>

  </form>
</ion-content>