page-manage {
  .content {
    border-bottom: 2px solid color($colors,fblue);
  }
  ion-item ion-label {
    color: color($colors,fblue);
  }
  .submit-button {
    text-align: center;
  }
  .item-ios.item-block .item-inner {
    padding: 0;
  }
  .submit-button.item-ios.item-block .item-inner {
    border-bottom: 0;
  }
  .item-ios {
    padding-left: 0;
    background: color($colors,content-color);
  }
  ion-content.content.content-ios {
    background: color($colors,content-color);
  }
  ion-label.ionlabel {
    color: black;
    font-weight: 900;
  }
}