<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="content">
  <form [formGroup]="form" (ngSubmit)="saveDocument(form.value)">

    <ion-item>
      <ion-label class="ionlabel" floating>Asset Name</ion-label>
      <ion-input type="text" formControlName="model" [(ngModel)]="model"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="ionlabel" floating>Category ID</ion-label>
      <ion-select formControlName="categoryId" [(ngModel)]="categoryId">
        <ion-option value="LT01">LT01</ion-option>
        <ion-option value="MA01">MA01</ion-option>
        <ion-option value="MC01">MC01</ion-option>
      </ion-select>
    </ion-item>

    <!-- <ion-item>
      <ion-label class="ionlabel" floating>Category</ion-label>
      <ion-select formControlName="category" [(ngModel)]="category">
        <ion-option value="Laptop">Laptop</ion-option>
        <ion-option value="Camera">Camera</ion-option>
        <ion-option value="Projector">Projector</ion-option>
      </ion-select>
    </ion-item> -->

    <ion-item>
      <ion-label class="ionlabel" floating>Asset Quantity</ion-label>
      <ion-input type="text" formControlName="quantity" [(ngModel)]="quantity"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="ionlabel" floating>Asset Thumbnail</ion-label>
      <ion-input type="text" formControlName="thumbnail" [(ngModel)]="thumbnail"></ion-input>
      <!-- <button item-start (click)="upload()" ion-button >Take Pic & Upload </button> -->
    </ion-item>

    <ion-item>
      <ion-label class="ionlabel" floating>State</ion-label>
      <ion-select formControlName="state" [(ngModel)]="state">
        <ion-option value="available">Available</ion-option>
        <ion-option value="wait">Waiting</ion-option>
        <ion-option value="close">Close</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label class="ionlabel" floating>Description</ion-label>
      <ion-input type="text" formControlName="description" [(ngModel)]="description"></ion-input>
    </ion-item>

    <ion-item class="submit-button">
      <button ion-button color="primary" small text-center padding-top padding-bottom [disabled]="!form.valid">
        <div *ngIf="!isEditable">
          Add
        </div>

        <div *ngIf="isEditable">
          Update
        </div>
      </button>
    </ion-item>

  </form>
</ion-content>
