page-manage {
ion-item ion-label{
    color: #1e90ff;
}
.submit-button{
  text-align: center;
}
.item-ios.item-block .item-inner{
  padding: 0;
}
.submit-button.item-ios.item-block .item-inner{
  border-bottom: 0;
}
.item-ios{
  padding-left: 0;
}

}
