*{
    font-family: segoe ui light;
}
page-login {
    .icon{
        font-size: 100px;
        margin-bottom: 1em;
    }
    [col-12]{
        text-align: center;
    }
    .content{
        background: #74b9ff;
    }
    
}
