*{
  font-family: 'segoe ui light';
}
page-login {
  .icon {
    font-size: 100px;
    margin-bottom: 1em;
  }
  [col-12] {
    text-align: center;
  }
  .content {
    border-bottom: 2px solid #1e90ff;
    background: #f1f2f6;
  }
  h3.title {
    font-size: 50px;
    color: #1e90ff;
    font-family: segoe ui light;
    margin-top: 0em;
    margin-bottom: 0em;
  }
  .back-button.show-back-button {
    display: none;
  }
  .ionrow-title {
    margin-bottom: 22%;
    margin-top: 3%;
  }
  .item-pass, .item-email {
    background: #fff;
    border-radius: 20px;
    margin-bottom: 10px;
  }
  .list-ios .item-block .item-inner {
    border: 0;
  }
  .text-input-ios::placeholder {
    color: #000;
  }
  .list-ios>.item-block:first-child,
  .list-ios>.item-block:last-child,
  .list-ios>.item-wrapper:last-child .item-block {
    border: 0;
  }
  button.submit-btn {
    background: #1e90ff;
    border-radius: 20px;
  }
}