page-modal {
    .scroll-content {
        background: #f1f2f6;
    }
    ion-card img {
        display: block;
        width: 100%;
        padding: 1em;
    }
    .card-ios{
        margin: 0;
        width: 100%;
        background: #f1f2f6;
        border: 1px solid #fff;
        box-shadow: none;
    }
    .card-ios p {
        margin: 0 0 2px;
        font-size: 1.4rem;
        color: #000;
    }
    .card-ios h2 {
        margin: 2px 0;
        font-size: 1.5em;
        font-weight: 900;
        color: #000;
    }
    .item-ios{
        padding-left: 0;
        background: #f1f2f6;
    }
    h3.iconitem-text {
        font-weight: 900;
        color: #000;
        font-size: 14px;
    }
    .card .note-ios {
        font-size: 1.3rem;
        font-weight: 900;
        color: #000;
    }
    ion-icon.eye.icon.icon-ios.ion-ios-eye-outline.item-icon {
        color: #000;
        margin-right: 0.2em;
    }
    input[type="text"] {
        width: 100%;
        color: #000;
        background: #fff;
        padding: 0.5em 1em;
        border-radius: 1em;
        border-style: hidden;
    }
    .label-ios {
        margin: 11px 8px 11px 0;
        font-size: 20px;
        color: #1e90ff;
        font-weight: bold;
    }
}