page-category {
    .ioncol-picture {
        background: url('/assets/imgs/xps.jpg');
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    h3.ioncol-title {
        font-size: 4em;
        font-weight: bold;
        color: #535c68;
    }
    p.ioncol-text {
        font-size: 1.5em;
        color: #fff;
    }
    .line {
        width: 50%;
        background: #6ab04c;
        height: 1px;
    }
}
