page-category {
    .cate-content{
        border-bottom: 2px solid color($colors,fblue);
    }
    .ioncol-item .ioncol-picture {
        height: 200px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 28px;
        z-index: 1;
    }
    ion-thumbnail img.thumb {
        width: 72px;
        height: 72px;
    }
    .ioncol-item.item2 .ioncol-text {
        left: 55%;
        animation: animation2 2s forwards;
        animation-delay: 0.4s;
        opacity: 0;;
    }
    .ioncol-item.item2 img {
        left: -7%;
    }
    .ioncol-picture img {
        width: 200px;
        position: absolute;
        right: 10%;
        top: 18%;
    }
    h3.ioncol-title {
        font-size: 4em;
        font-weight: bold;
        color: color($colors,gray3);
    }
    // .line {
    //     width: 35%;
    //     background: color($colors,btn-accept);
    //     height: 1px;
    // }
    .ioncol-item {
        position: relative;
        width: 100%;
        height: 200px;
        overflow: hidden;
    }
    .ioncol-text {
        position: absolute;
        width: 100%;
        height: 200px;
        top: 15%;
        left: -3%;
        z-index: 3;
        transition: 0.2s;
        animation: animation 2s forwards;
        animation-delay: 0.4s;
        opacity: 0;
    }
    p.text {
        color: color($colors,gray4);
        font-size: 18px;
        font-weight: bold;
        margin-top: 0.3em;
        border-top: 1px solid color($colors,hover);
        display: inline-block;
    }
    ion-row.ionrow {
        background: color($colors,white2);
        margin-bottom: 1em;
        transition: 0.2s;
    }
    .ionrow:hover{
        background:color($colors,gray5);
        transition: 0.2s;
    }
    @keyframes animation {
        from {left: -44%;opacity: 0}
        to {left: -3%;opacity: 1}
    }
    @keyframes animation2 {
        from {left: 100%;opacity: 0}
        to {left: 55%;opacity: 1}
    }


    @media(min-width:768px){
        *{}
        .ioncol-text{
            margin-left: 15%;
            margin-top: 5%;
        }
        .ioncol-item.item2 .ioncol-text{
            margin-left: 5%;
        }
        .ioncol-picture img{
            margin-right: 15%;
            margin-top: 5%;
        }
        .ioncol-item.item2 img{
            left: 8%;
        }
        .ioncol-item{
            height: 300px;
        }

    }




}