page-laptop {
    .content {
        background: color($colors,content-color)
    }
    .listitem {
        background: color($colors,content-color)
    }
    .list-ios>.item-block {
        border-top: 0;
        background: color($colors,content-color)
    }
    .item-ios {
        padding-left: 0;
    }
    .item-ios.item-block .item-inner {
        padding-right: 0;
    }
    .item-ios [item-left],
    .item-ios [item-start] {
        margin: 0;
    }
    .item-ios ion-avatar[item-left],
    .item-ios ion-thumbnail[item-left],
    .item-ios ion-avatar[item-start],
    .item-ios ion-thumbnail[item-start] {
        margin: 0;
    }
    .list-ios>.item-block:first-child {
        border-top: 0;
    }
    h2.name {
        text-overflow: ellipsis;
        overflow: hidden;
        color: color($colors,fname);
        font-weight: 900;
        margin-bottom: 5px;
    }
    p.state {
        color: color($colors,primary);
        font-weight: bold;
    }
    .item-ios p.cate {
        overflow: inherit;
        font-size: 1.4rem;
        line-height: normal;
        text-overflow: inherit;
        color: color($colors,txt-color);
        margin: 0 0 2px;
    }


    @media(min-width:768px){
        .item-ios ion-thumbnail{
            min-width: 100px;
            min-height:100px;
        }
        .item-ios ion-thumbnail ion-img, .item-ios ion-thumbnail img{
            width: 100px;
            height: 100px;
        }
        .item-ios h2{
            font-size: 1.5em;
        }
        .item-ios p.cate{
            font-size: 1.2em;
        }
        p.state{
            font-size:1.2em;
        }
    }


}