page-home {
  .btnBack {
    background: color($colors,btn-back);
  }
  .content {
    background: color($colors,content-color);
    border-bottom: 2px solid color($colors,fblue);
  }
  p.state {
    color: color($colors,primary);
    font-weight: bold;
  }
  h2.name {
    text-overflow: ellipsis;
    overflow: hidden;
    color: color($colors,fname);
    font-weight: 900;
    margin-bottom: 5px;
  }
  p.cate {
    margin-bottom: 5px;
  }
  ion-searchbar.search {
    width: 100%;
    border-radius: 0.3em;
    margin-bottom: 0.6em;
  }
  .btnMenu {
    background: color($colors,btn-back);
  }
  .btnMenu:hover {
    color: color($colors,hover);
    background: color($colors,btn-back);
  }
  .back-button.show-back-button {
    display: none;
  }
  .ionrow-topcontent {
    text-align: center;
  }
  ion-content .btnadd {
    width: 40px;
    height: 40px;
    background: red;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    position: fixed;
    bottom: 2%;
    right: 4%;
  }
  button.btnDetail {
    color: white;
    background: color($colors,fblue);
    border: 0;
    padding: 5px 10px;
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
  }
  button.btnupdate {
    background: color($colors,btn-accept);
  }
  button.btndel {
    background: color($colors,btn-del);
  }
  .ioncol-list {
    font-size: 20px;
    color: gray;
  }
  .ioncol-icon {
    font-size: 26px;
    margin-right: 2em;
    width: 30px;
    color: color($colors,fblue);
  }
  .btnList {
    background: white;
    border: none;
  }
  .ioncol-list:hover .assets {
    color: black;
    font-weight: bold;
  }
  .assets {
    color: color($colors,gray1);
  }
  .back-button.show-back-button {
    transition: 1s;
  }
  .list-ios .item-block .item-inner {
    border: 0;
  }
  .list-ios>.item-block:first-child,
  .list-ios>.item-block:last-child {
    border: 0;
  }
  button.button-item {
    font-size: 18px;
    background: none;
  }
  .item-md .item-button {
    font-size: 18px;
    background: none;
  }
  .item-ios .item-button {
    background: none;
    font-size: 18px;
  }
  .label-ios {
    border-bottom: 1px solid color($colors,gray2);
  }
  .button-item:hover .button {
    color: black;
    font-weight: bold;
  }
  ion-item button.btnClear,
  button.btnOk {
    font-size: 20px;
    width: 70px;
    text-align: center;
    background: color($colors,fblue);
    font-size: 16px;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    margin: 10px;
  }
  .input-wrapper ion-label {
    border: 0;
    margin: 0;
  }
  h3.ion-title {
    text-align: center;
  }
  .ionlist-input {
    text-align: center;
  }
  ion-item.ionitem-form {
    text-align: center;
  }
  .ionicon-add {
    font-size: 3em;
    color: white;
  }
  .btnDetail,
  .iconupdate,
  .icondel {
    width: 30px;
    text-align: center;
    color: color($colors,fname);
    border-radius: 5px;
    float: left;
    background: transparent;
    font-size: 2em;
    margin-left: 50px;
    font-size: 2em;
  }
  .ioncol-thumbnail {
    text-align: center;
  }
  .btndel {
    margin-left: 15px;
  }
  .item-ios ion-thumbnail ion-img,
  .item-ios ion-thumbnail img {
    width: 56px;
    height: 56px;
  } // ---------------------------
  ion-list ion-item.item-ios {
    padding: 0;
  }
  .item-ios.item-block .item-inner {
    padding-right: 0;
  }
  .item-ios ion-avatar[item-left],
  .item-ios ion-thumbnail[item-left],
  .item-ios ion-avatar[item-start],
  .item-ios ion-thumbnail[item-start] {
    margin: 0;
  }
  .list-ios {
    margin: 0;
  }
  .list-ios>.item-block:first-child,
  .list-ios>.item-block:last-child {
    background: color($colors,white1);
  }
  ion-avatar {
    width: 15%;
    float: left;
  }
  ion-col.col {
    padding-top: 0.3em;
  }
  ion-col[col-2] {
    padding: 0;
  }
  .info {
    float: left;
  }
  ion-col[col-10] {
    padding: 0;
  }
  .row-item {
    border-bottom: 1px solid white;
    background: color($colors,content-color);
    padding-bottom: 0.3em;
  }
  .btndenied,
  .btnaccept {
    width: 30px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: color($colors,red1);
    color: white;
    border-radius: 5px;
    float: right;
    margin-right: 0.1em;
  }
  .btndenied {
    margin-bottom: 0.3em;
  }
  .btnaccept {
    background: color($colors,btn-accept);
  }
  .info h2.name {
    margin-bottom: 0;
  }
  .btndenied:hover {
    color: color($colors,red1);
    background: white;
    font-weight: 900;
  }
  .btnaccept:hover {
    color: color($colors,blue2);
    background: white;
    font-weight: 900;
  }
  .info h2.name {
    font-size: 18px;
  }
  .buttons {
    width: 100%;
    height: 100%;
  }


  @media(min-width: 768px) {
    * {}
    .toolbar-title.toolbar-title-ios {
      font-size: 1.5em;
    }
    .toolbar-ios .segment-button{
      font-size: 1.3em;
      max-width: 200px;
    }
    .item-ios ion-thumbnail ion-img,.item-ios ion-thumbnail img{
      width: 100px;
      height: 100px;
    }
    ion-col.col h2.name {
      font-size: 1.5em;
  }
  p.cate{
    font-size:1em;
  }
  p.state{
    font-size: 1em;
  }
  .item-ios ion-avatar ion-img, .item-ios ion-avatar img{
    width: 80px;
    height: 80px;
  }
  .item-ios ion-avatar{
    min-width: 80px;
    min-height: 80px;
  }
  .btnaccept, .btndenied{
    width: 100px;
  }
  .buttons{
    margin-top:15%;
  }

  }



}