<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Asset List</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="assetlist">

      <ion-segment-button value="assets">
        Assets
      </ion-segment-button>

      <ion-segment-button value="requests">
        Requests
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <div [ngSwitch]="assetlist">
    <ion-row class="ionrow-topcontent">
      <ion-searchbar class="search" (ionInput)="getItems($event)"></ion-searchbar>
    </ion-row>

    <!-- Asset list get in Firebase -->
    <ion-list class="list-asset" *ngSwitchCase="'assets'">

      <ion-item *ngFor="let item of filterItems">
        <ion-row class="row-item" (click)="goDetail(item)">

          <ion-col col-3 class="ioncol-thumbnail">
            <ion-thumbnail item-start class="ionthumbnail">
              <img src="{{item.thumbnail}}" class="thumb" />
            </ion-thumbnail>
          </ion-col>

          <ion-col col-9>
            <h2 class="name">{{item.model}}</h2>
            <p class="cate">Category: {{item.categoryId == 'LT01' ?'Laptop':'' || item.categoryId == 'MC01' ?'Projector' :'' || item.categoryId
              == 'MA01' ?'Camera' :''}}</p>
            <p class="state">State: {{item.state}}</p>
          </ion-col>

        </ion-row>
      </ion-item>

    </ion-list>

    <!-- Request list -->
    <div class="requestlist">
    <ion-list class="list-request" *ngSwitchCase="'requests'">

      <ion-item *ngFor="let request of requests">
        <ion-row class="row-item">

          <ion-col col-2>
            <ion-avatar class="avatar">
              <img src="{{request.thumbnail}}" alt="">
            </ion-avatar>
          </ion-col>

          <ion-col col-8>
            <div class="info">
              <h2 class="name">{{request.model}}</h2>
              <p class="state">State: {{request.state == 'available' ?'wait':''}}</p>
            </div>
          </ion-col>

          <ion-col col-2 class="ioncol-button">
            <div class="buttons">
              <div class="btndenied">
                <ion-icon (click)="denied(request)" ios="ios-close-outline" md="md-close-outline" class="denied"></ion-icon>
              </div>
              <div class="btnaccept">
                <ion-icon (click)="accept(request)" ios="ios-checkmark-outline" md="md-checkmark-outline" class="accept"></ion-icon>
              </div>
            </div>
          </ion-col>

        </ion-row>
      </ion-item>

    </ion-list>
  </div>
    <div class="btnadd">
      <ion-icon class="ionicon-add" ios="ios-add-outline" md="md-add-outline" (click)="addDocument()"></ion-icon>
    </div>
  </div>
</ion-content>