
$font-path: "../assets/fonts";
$app-direction: ltr;
@import "ionic.globals";

$colors: (
  primary:      #488aff,
  fblue:        #1e90ff,
  blue2:        #105fea,

  secondary:    #32db64,
  btn-accept:   #2ed573,
  hover:        #00b894,

  btn-red:      #FF0000,
  danger:       #f53d3d,
  btn-del:      #ff3838,
  red1:         #EA2027,

  content-color:#f1f2f6,
  light:        #f4f4f4,
  btn-back:     #f8f8f8,
  white1:       #DFE4EA,
  white2:       #ecf0f1,

  dark:         #222,
  gray1:        #2d3436,
  fname:        #2f3542,
  txt-color:    #8e9093,
  gray2:        #636e72,
  gray3:        #535c68,
  gray4:        #2c3e50,
  gray5:        #747d8c
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
