page-property {
  .btnBack {
    background: #f8f8f8;
  }
  .content {
    border-bottom: 2px solid #00b894;
  }
  p.state {
    color: #1e90ff;
    font-weight: bold;
  }
  h2.name {
    text-overflow: ellipsis;
    overflow: hidden;
    color: #2f3542;
    font-weight: bold;
    margin-bottom: 15px;
  }
  p.cate{
    margin-bottom: 5px;
  }
  ion-searchbar.search {
    width: 100%;
    border-radius: 0.3em;
    margin-bottom: 0.6em;
  }
  .btnMenu {
    background: #f8f8f8;
  }
  .btnMenu:hover {
    color: #00b894;
    background: #f8f8f8;
  }
  .back-button.show-back-button {
    display: none;
  }
  .ionrow-topcontent {
    text-align: center;
  }
  .btnadd {
    width: 40px;
    height: 40px;
    position: fixed;
    text-align: center;
    float: right;
    bottom: 5%;
    line-height: 40px;
    right: 8%;
    background: #1e90ff;
    border-radius: 50%;
  }
  button.btnDetail{
    color: #fff;
    background: #1e90ff;
    border: 0;
    padding: 5px 10px;
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
  }
  button.btnupdate{
    background: #2ed573;
  }
  button.btndel{
    background: #ff3838;
  }
  
  // CSS for propertymenu
  ion-card.card-wallpaper {
    width: 96%;
    margin-top: 8%;
    background: #00c6ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  h2.username,
  p.useremail {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
  }
  .userinfo p.useremail {
    font-size: 15px;
    color: #ced6e0;
  }
  ion-card .info {
    position: relative;
    width: 150px;
    height: 180px;
  }
  img.avatar {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 7%;
    left: 5%;
    z-index: 2;
  }
  .userinfo {
    position: absolute;
    bottom: 6%;
    left: 8%;
  }
  .ioncol-list {
    font-size: 20px;
    color: gray;
  }
  .ioncol-icon {
    font-size: 26px;
    margin-right: 2em;
    width: 30px;
    color: #1e90ff;
  }
  .btnList {
    background: #fff;
    border: none;
  }
  .ioncol-list:hover .assets {
    color: #000;
    font-weight: bold;
  }
  .assets {
    color: #2d3436;
  }
  .back-button.show-back-button {
    transition: 1s;
  }
  .list-ios .item-block .item-inner {
    border: 0;
  }
  .list-ios>.item-block:first-child,
  .list-ios>.item-block:last-child {
    border: 0;
  }
  button.button-item {
    font-size: 18px;
    background: none;
  }
  .item-md .item-button {
    font-size: 18px;
    background: none;
  }
  .item-ios .item-button {
    background: none;
    font-size: 18px;
  }
  .label-ios {
    border-bottom: 1px solid #636e72;
  }
  .propertymenu {
    position: absolute;
    top: -5%;
    left: -102%;
    z-index: 20;
    transition: 0.6s;
    visibility: hidden;
    opacity: 0;
  }
  .propertymenu.showMenu {
    opacity: 1;
    visibility: visible;
    top: -5%;
    left: -3%;
    transition: 0.4s;
    width: 100%;
    height: 100%;
    background: #fff;
  }
  .list-asset.hide, .btnadd.hide {
    opacity: 0;
    visibility: hidden;
  }
  .button-item:hover .button {
    color: #000;
    font-weight: bold;
  }

  // CSS FORM
  .createForm {
    border-radius: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 230px;
    height: 390px;
    margin-left: -115px;
    margin-top: -195px;
    visibility: hidden;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-transform: scale(0);
    transform: scale(0);
    z-index: 10;
    background: #fff;
  }
  .list-ios>.item-block:last-child,
  .list-ios>.item-wrapper:last-child .item-block {
    border: none;
  }
  ion-item button.btnClear, button.btnOk{
    font-size: 20px;
    width: 70px;
    text-align: center;
    background: #1e90ff;
    font-size: 16px;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    margin: 10px;
  }

  .createForm.showForm{
    visibility: visible;
    transition: 0.4s;
    transform: scale(1);
  }
  .wrapper{
    width: 100%;
    height: 830px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    background:#636e72;
    opacity: 0.5;
    visibility: hidden;
    transition: 0.4s;
  }
  .wrapper.showWrapper{
    visibility: visible;
    transition: 0.4s;
  }
  .input-wrapper ion-label{
    border: 0;
    margin: 0;
  }
  h3.ion-title{
    text-align: center;
  }
  .ionlist-input{
    text-align: center;
  }
  ion-item.ionitem-form{
    text-align: center;
  }
  .ionicon-add{
    font-size: 3em;
  }
  .btnDetail,.iconupdate,.icondel{
    width: 30px;
    text-align: center;
    color: #2f3542;
    border-radius: 5px;
    float: left;
    background: transparent;
    font-size: 2em;
    margin-left: 50px;
    font-size: 2em;
  }
  .ioncol-thumbnail{
    text-align: center;
  }
  .thumb{
    margin-left: 10px;
  }
  .btndel{
    margin-left: 15px;
  }
  .item-ios ion-thumbnail ion-img, .item-ios ion-thumbnail img{
    width: 80px;
    height: 80px;;
  }
  .row-item{
    border-bottom: 1px solid #ced6e0;
  }
}