page-property {
  .btnBack {
    background: #f8f8f8;
  }
  .content {
    border-bottom: 2px solid #00b894;
  }

  p.state {
    color: #00b894;
    font-weight: bold;
  }
  h2.name {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  ion-searchbar.search {
    width: 100%;
    border-radius: 0.3em;
    margin-bottom: 0.6em;
  }
  button.btnAdd {
    margin-top: 0em;
    background: #636e72;
    opacity: 0.4;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
  }
  .btnMenu {
    background: #f8f8f8;
  }
  .btnMenu:hover {
    color: #00b894;
    background: #f8f8f8;
  }
  .back-button.show-back-button {
    display: none;
  }
  .ionrow-topcontent {
    text-align: center;
  }
  .btnsearch {
    width: 40px;
    height: 40px;
    position: fixed;
    float: right;
    top: 26%;
    right: 8%;
  }

  // CSS for propertymenu
  ion-card.card-wallpaper {
    width: 96%;
    margin-top: 8%;
    background: url('/assets/imgs/wall3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  ion-card .info {
    position: relative;
    width: 150px;
    height: 180px;
  }
  img.avatar {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 7%;
    left: 5%;
    z-index: 2;
  }
  .userinfo {
    position: absolute;
    bottom: 6%;
    left: 8%;
  }

  .ioncol-list {
    font-size: 20px;
    color: gray;
  }

  .ioncol-icon {
    font-size: 26px;
    margin-right: 2em;
    width: 30px;
  }

  .btnList {
    background: #fff;
    border: none;
  }

  .ioncol-list:hover .assets {
    color: #000;
    font-weight: bold;
  }

  .assets {
    color: #2d3436;
  }
  .back-button.show-back-button {
    transition: 1s;
  }
  .list-ios .item-block .item-inner {
    border: 0;
  }

  .list-ios > .item-block:first-child,
  .list-ios > .item-block:last-child {
    border: 0;
  }

  button.button-item {
    font-size: 18px;
    background: none;
  }

  .item-md .item-button {
    font-size: 18px;
    background: none;
  }
  .item-ios .item-button {
    background: none;
    font-size: 18px;
  }
  .label-ios{
    border-bottom: 1px solid #636e72;
  }
  .propertymenu{
    position: absolute;
    top: -5%;
    left: -102%;
    z-index: 20;
    transition: 0.6s;
    visibility: hidden;
    opacity: 0;
  }
  .propertymenu.showMenu{
    opacity: 1;
    visibility: visible;
    top: -5%;
    left: -3%;
    transition: 0.4s;
    width: 100%;
    height: 100%;
    background: #fff;
  }
  .list-asset.hide{
    opacity: 0;
    visibility: hidden;
    // transition: 0.4s;
  }
  .button-item:hover .button{
    color: #000;
    font-weight: bold;
  }
}
