page-detail {
  .content {
    border-bottom: 2px solid #00b894;
    overflow: hidden;
  }
  h2.card-title {
    font-size: 25px;
    color: #000;
    font-weight: 900;
  }
  p.discription {
    font-size: 16px;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  h3.iconitem-text {
    font-size: 16px;
    color: #000;
    font-weight: 900;
  }
  ion-note.iconitem-end {
    color: #1e90ff;
    font-weight: bold;
  }
  .iconitem .eye {
    font-size: 2em;
    color: #2f3542;
  }
  .item-ios .item-button {
    font-size: 1.7rem;
  }
  .ioncard-content {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .ionlist {
    margin-top: 1rem;
  }
  .iconitem-state {
    margin-top: 3rem;
  }
  .ionitem-form {
    width: 100%;
  }
  .ionitem-form input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.3em 0.3em;
  }
  .list-ios .item-block .item-inner {
    border: none;
  }
  .ionitem-form p {
    width: 7rem;
  }
  h3.ion-title {
    text-align: center;
  }
  .createForm {
    border: 2px solid #2d3436;
    border-radius: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 280px;
    height: 450px;
    margin-left: -140px;
    margin-top: -225px;
    visibility: hidden;
    transition: 0.4s;
    transform: scale(0);
    z-index: 10;
    background: #fff;
  }
  .list-ios > .item-block:last-child,
  .list-ios > .item-wrapper:last-child .item-block {
    border: none;
  }
  ion-item button.btnClear,
  button.btnOk {
    font-size: 20px;
    width: 70px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #00b894;
  }

  .createForm.showForm {
    visibility: visible;
    transition: 0.4s;
    transform: scale(1);
  }
  .wrapper {
    width: 100%;
    height: 830px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    background: #636e72;
    opacity: 0.5;
    visibility: hidden;
    transition: 0.4s;
  }
  .wrapper.showWrapper {
    visibility: visible;
    transition: 0.4s;
  }
  ion-card img {
    padding: 1em 1em;
  }
  .card-ios {
    border: 1px solid #ffffff;
    box-shadow: 0 0 0 0;
    background:#DFE4EA;
  }
  .scroll-content{
    background:#DFE4EA;
  }
  .list-ios > .item-block{
    background:#DFE4EA;
  }
  ion-fab[top][edge]{
    top: 0;
  }
  .fab-ios{
    background:#FF0000;
  }
  .fab ion-icon{
    color: #fff;
  }
}
